<h1>Phases</h1>

<table class='table table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.title %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase), class: 'btn btn-danger' %></td>
        <td><%= link_to 'Destroy', phase, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase', new_phase_path, class: 'btn btn-outline-success' %>

